<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="fontawesome-free-6.7.2-web/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
    <link rel="stylesheet" href="index.css">
</head>
<body>
    
    <footer class="bg-purple d-flex flex-column flex-md-row gap-5 " style="padding: 3%;">
        <div>
        <h1 class="h4 mb-3 fw-bold">UNIBEN Mobility Suite</h1>
        <p> Safe, reliable transportation for UNIBEN students</p>
        <!-- <p><a href="https//efemichael-712.web.app" class="text-white" style="text-decoration: none;"> By Michael Efe © 2025 </a></p> -->
        </div>

        <div>
            <h1 class="h5 mb-3 fw-bold">Reachout to us for more enquries.</h1>
            <p><b>Contact:</b> +234 704 180 5763</p>
            <p><b>Email:</b> <a href="" class="text-white" style="text-decoration: none;">emmexanimation@gmail.com</a></p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>